@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll-container::-webkit-scrollbar {
  display: none;
}
/* Modify the default scrollbar for all browsers */
/* #recent-projects-chart { */
  /* For Firefox */
  /* scrollbar-width: thin;
  scrollbar-color: #e5e7eb transparent; */
/* } */

/* WebKit browsers (Chrome, Safari, Edge Chromium) */
/* #recent-projects-chart::-webkit-scrollbar {
  width: 8px;
}

#recent-projects-chart::-webkit-scrollbar-track {
  background: transparent;
}

#recent-projects-chart::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
} */

/* Hide the default scrollbar for all browsers */
/* #recent-projects-chart { */
  /* For Firefox */
  /* scrollbar-width: none;
  scrollbar-color: transparent transparent; */
/* } */

/* WebKit browsers (Chrome, Safari, Edge Chromium) */
/* #recent-projects-chart::-webkit-scrollbar {
  display: none;
} */

.custom-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: #e5e7eb;
  overscroll-behavior: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 5.5px;
  border: 2.5px solid transparent;
  background-clip: content-box;
}
.custom-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

.custom-scrollbar>div {
  padding-right: 8px;
} 